# EditorConfig 配置文件
# 統一不同編輯器和 IDE 的編碼風格
# https://editorconfig.org

# 頂級配置文件
root = true

# 所有文件的默認設置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript 和 JavaScript 文件
[*.{ts,js,tsx,jsx}]
indent_size = 2
max_line_length = 120

# JSON 文件
[*.json]
indent_size = 2
max_line_length = 80

# YAML 文件
[*.{yml,yaml}]
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# Python 文件
[*.py]
indent_size = 4
max_line_length = 88

# Shell 腳本
[*.{sh,bash}]
indent_size = 2

# 配置文件
[*.{ini,cfg,conf}]
indent_size = 4

# XML 和 HTML 文件
[*.{xml,html,htm}]
indent_size = 2

# CSS 和 SCSS 文件
[*.{css,scss,sass,less}]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# 特定文件
[package.json]
indent_size = 2

[tsconfig*.json]
indent_size = 2

[.eslintrc*]
indent_size = 2
